# Node
node_modules
npm-debug.log*
.node_history

# Exclude coverage report
coverage
.nyc_output

# IDE
.idea

# Other
.DS_STORE
*#
*~
.*.swp
.tags

# Kuzzle
.kuzzlerc
/*.log

#sonarqube
.sonar
.scannerwork
.sonarlint
/sonarlint.json
